/* Code tidied up by ScrapBook */
.note { position: relative; padding-top: 10px; }
.note .post { margin: 0px auto; padding-top: 20px; padding-bottom: 40px; width: 620px; }
.note .post .article .title { word-break: break-all; margin: 20px 0px 0px; font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif; font-size: 34px; font-weight: 700; line-height: 1.3; }
.note .post .article .author { margin: 30px 0px 40px; }
.note .post .article .author .avatar { width: 48px; height: 48px; vertical-align: middle; display: inline-block; }
.note .post .article .author .info { vertical-align: middle; display: inline-block; margin-left: 8px; }
.note .post .article .author .tag { padding: 1px 2px; font-size: 12px; color: rgb(234, 111, 90); border: 1px solid rgb(234, 111, 90); border-radius: 3px; }
.note .post .article .author .name { margin-left: 3px; margin-right: 3px; font-size: 16px; vertical-align: middle; }
.note .post .article .follow, .note .post .article .follow-cancel, .note .post .article .follow-each, .note .post .article .following { padding: 0px 7px 0px 5px; font-size: 12px; }
.note .post .article .author .meta { margin-top: 5px; font-size: 12px; color: rgb(150, 150, 150); }
.note .post .article .author .meta span { padding-right: 5px; }
.note .post .article .show-content { color: rgb(47, 47, 47); word-break: break-all; font-size: 16px; font-weight: 400; line-height: 1.7; }
.note .post .article .show-content p { margin: 0px 0px 25px; }
.note .post .article .show-content ol, .note .post .article .show-content p, .note .post .article .show-content ul { word-break: break-all; }
.note .post .article .show-content h1, .note .post .article .show-content h2, .note .post .article .show-content h3, .note .post .article .show-content h4, .note .post .article .show-content h5, .note .post .article .show-content h6 { margin: 0px 0px 15px; font-weight: 700; color: rgb(47, 47, 47); line-height: 1.7; text-rendering: optimizelegibility; }
.note .post .article .show-content h5 { font-size: 18px; }
.note .post .article .show-content h6 { font-size: 16px; }
.note .post .article .show-content img { max-width: 100%; }
.note .post .article .show-content .image-package { padding-bottom: 25px; width: 700px; margin-left: -40px; text-align: center; }
.note .post .article .show-content .image-package img { max-width: 100%; height: auto; vertical-align: middle; border: 0px none; transition: all 0.25s ease-in-out 0s; }
.note .post .article .show-content .image-package .image-caption { min-width: 20%; max-width: 80%; min-height: 22px; display: inline-block; padding: 10px; margin: 0px auto; border-bottom: 1px solid rgb(217, 217, 217); font-size: 14px; color: rgb(150, 150, 150); line-height: 1.7; }
.note .post .article .show-content .image-package .image-caption:empty { display: none; }
.note .post .article .show-foot { margin: 40px 0px 30px; }
.note .post .article .show-foot .notebook { font-size: 12px; color: rgb(155, 155, 155); }
.note .post .article .show-foot .notebook i { margin-right: 2px; font-size: 15px; }
.note .post .article .show-foot .copyright { float: right; margin-top: 5px; font-size: 12px; line-height: 1.7; color: rgb(155, 155, 155); }
.note .post .article .show-foot .modal-wrap { float: right; margin-top: 5px; margin-right: 20px; font-size: 12px; line-height: 1.7; }
.note .post .article .show-foot .modal-wrap > a { color: rgb(155, 155, 155); }
.note .post .follow-detail { padding: 20px; background-color: rgba(181, 181, 181, 0.1); border: 1px solid rgb(225, 225, 225); border-radius: 4px; font-size: 12px; }
.note .post .follow-detail .avatar { float: left; margin-right: 10px; width: 48px; height: 48px; }
.note .post .follow-detail .info { min-height: 47px; }
.note .post .follow-detail .info .title { margin: 0px; font-size: 17px; line-height: 1.8; vertical-align: middle; }
.note .post .follow-detail .info p { margin-bottom: 0px; color: rgb(150, 150, 150); }
.note .post .follow-detail .btn { float: right; margin-top: 4px; padding: 8px 0px; width: 100px; font-size: 16px; }
.note .post .follow-detail .signature { margin-top: 20px; padding-top: 20px; border-top: 1px solid rgb(225, 225, 225); color: rgb(150, 150, 150); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.note .post .dividing-line, .note .post .support-author { border-bottom: 1px solid rgb(240, 240, 240); }
.note .post .support-author { padding: 30px 0px 20px; text-align: center; clear: both; }
.note .post .meta-bottom { margin-top: 30px; }
.note .post .meta-bottom .like { display: inline-block; }
.note .post .meta-bottom .like-group { padding: 13px 0px 15px; font-size: 0px; border: 1px solid rgb(234, 111, 90); border-radius: 40px; }
.note .post .meta-bottom .like-group:hover { background-color: rgba(236, 97, 73, 0.05); }
.note .post .meta-bottom .like-group .btn-like { font-size: 19px; display: inline-block; }
.note .post .meta-bottom .like-group .btn-like a { color: rgb(234, 111, 90); padding: 18px 15px 18px 30px; }
.note .post .meta-bottom .like-group .btn-like i { margin-right: 5px; font-size: 21px; }
.note .post .meta-bottom .like-group .modal-wrap { font-size: 18px; border-left: 1px solid rgba(236, 97, 73, 0.4); display: inline-block; }
.note .post .meta-bottom .like-group .modal-wrap a { color: rgb(234, 111, 90); padding: 18px 30px 18px 17px; }
.note .post .meta-bottom .share-group { float: right; margin-top: 6px; }
.note .post .meta-bottom .share-group .share-circle { width: 50px; height: 50px; margin-left: 5px; text-align: center; border: 1px solid rgb(220, 220, 220); border-radius: 50%; vertical-align: middle; display: inline-block; }
.note .post .meta-bottom .share-group .share-circle i { margin-top: 10px; font-size: 24px; line-height: 2; }
.note .post .meta-bottom .share-group .share-circle .ic-wechat { color: rgb(0, 187, 41); }
.note .post .meta-bottom .share-group .share-circle .ic-weibo { color: rgb(224, 82, 68); }
.note .post .meta-bottom .share-group .share-circle .ic-picture { color: rgb(155, 155, 155); }
.note .post .meta-bottom .share-group .share-circle:hover { background-color: rgba(181, 181, 181, 0.1); }
.note .post .meta-bottom .share-group .more-share { width: auto; padding: 4px 18px; font-size: 14px; color: rgb(155, 155, 155); line-height: 40px; border-radius: 50px; }
.note-bottom { min-height: 213px; background-color: rgb(245, 245, 245); padding-top: 40px; padding-bottom: 40px; }
@media not all, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
}
@media (max-width: 1080px) {
}
