/* Code tidied up by ScrapBook */
@media (max-width: 1080px) {
}
.notification .row { padding: 30px 0px; }
.notification .aside { position: fixed; top: 0px; bottom: 0px; margin: 86px 0px 0px; padding: 0px 0px 30px; width: 280px; overflow: auto; }
.notification .aside ul { list-style: outside none none; }
.notification .aside ul li { margin: 0px; }
.notification .aside ul li.active a { background-color: rgb(240, 240, 240); border-radius: 4px; }
.notification .aside ul a { height: auto; padding: 10px 25px; line-height: 30px; display: block; }
.notification .aside ul a:hover { background-color: rgb(240, 240, 240); border-radius: 4px; }
.notification .aside ul i { margin-right: 15px; font-size: 24px; color: rgb(234, 111, 90); vertical-align: middle; }
.notification .aside ul span { font-size: 15px; vertical-align: middle; }
.notification .main { padding-left: 0px; }
.notification .main .menu { margin-bottom: 20px; font-size: 14px; font-weight: 700; }
.notification .main ul { list-style: outside none none; }
.notification .main .jianxin-list .wrap { display: block; padding: 20px 20px 20px 0px; min-height: 88px; }
.notification .main .jianxin-list .avatar { float: left; margin: 20px 10px 20px 20px; width: 48px; height: 48px; }
.notification .main .jianxin-list .name { position: absolute; top: 25px; font-size: 15px; }
@media not all, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
}
@media (max-width: 1079px) {
}
@media (max-width: 1080px) {
  .notification .aside { width: 218.75px; }
}
.jianxin-placeholder { margin-top: -10px; padding: 10px 20px 10px 0px; }
.jianxin-placeholder .avatar { position: absolute; cursor: default !important; margin-top: 20px; width: 48px; height: 48px; background-color: rgb(234, 234, 234); border-radius: 50%; }
.jianxin-placeholder .wrap { padding: 28px 20px 20px 80px !important; margin: 0px -20px 0px 0px; border-top: 1px solid rgb(240, 240, 240); }
.jianxin-placeholder .wrap .time { float: right; width: 100px; height: 13px; background-color: rgb(234, 234, 234); }
.jianxin-placeholder .wrap .name { position: inherit !important; width: 30px; height: 15px; background-color: rgb(234, 234, 234); }
.jianxin-placeholder .wrap .text { margin: 7px 0px; width: 80%; height: 12px; background-color: rgb(234, 234, 234); animation: 1s ease-in-out 0s normal none infinite running shortLoading; }
